{% extends "bases/base.html" %}
{% block head %}
<title>Valter Pereira</title>
{% endblock head %}
{% block content %}
{% if user.is_authenticated %}
<form class="form" action="./" method="POST">{% csrf_token %}
    <div class="form__title">Criar Cliente</div>
    <p class="form__desc">
        Criar uma nova entrada de cliente na base de dados.
    </p>

    {{ Form.as_p }}
    <p>
        <input class="form__btn"type="Submit" value="Guardar" />
    </p>
</form>
{% else %}
{% include "registration/goto_login.html" %}
{% endif %}
{% endblock content %}
