{% extends "bases/base.html" %}
{% block head %}
<title>Listar Cliente</title>
{% endblock head %}
{% block content %}
        {% if user.is_authenticated %}
        <form class="form" action="." g method="POST">{% csrf_token %}
            <div class="form__title">Criar Cliente</div>
            <p class="form__desc">
            Criar uma nova entrada de fatura na base de dados.
            </p>
            {{ form.as_p }}
            <p>
            <input class="form__btn"type="Submit" value="Guardar" />
            </p>
        </form>

        {{form.errors_as_text}}

        {% else %}
        {% include "registration/goto_login.html" %}
        {% endif %}
{% endblock content %}
