@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.0em;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin:0;
}

body main {
    min-height: 70vh;
    padding: 70px 0;
}

.content__table {
    border-collapse: collapse;
    margin: 25px 5%;
    font-size: 1.0em;
    min-width: 200px;
    width: 80%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0, 0.35);
    background-color: white;
    
}
.content__table thead tr {
    background-color: #029830;
    color: #f3f3f3;
    text-align: left;
    font-weight: 700;
}

.content__table th, 
.content__table td {
    text-align: left;
    padding: 12px 15px;

}

.content__table tbody tr td {
    border-bottom: 1px solid #f3f3f3;
    padding: 15px 15px;
    border-left: solid #029830 1px;
    margin-right: auto;
    margin-left: auto;

}

.content__table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content__table tbody tr:last-of-type {
    border-bottom: 2px solid #029830;
}

.content__table tbody tr:hover {
    background-color: #f3f3f3;
    color: #029830;
}

.content__table tbody tr a:hover {
    background-color: #f3f3f3;
    color: #029830;
}

.content__table td a{
    display: block;
    text-decoration: none;
    color: #000000; 
}

.content__warn {
    padding-left: 5%;
}
.content__important--warn {
    font-weight: 800;
    color: #f50000;
    font-size: 1.1em;
}

@media(max-width: 600px) {
    .content__table tbody tr td {
        padding: 10px 10px;
    }
}
