{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'pages/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/fontawesome.min.css' %}" />
</head>

<footer class="footer">

    <div class="inner_footer">
        <div class="logo_container">
            <img src="{% static 'images/logo.jpg' %}" alt="logo">
        </div>

        <div class="footer_third">
            <h1>Sociais</h1>
            <a href="https://www.facebook.com" target="_blank">Facebook</a>
            <a href="https://www.twitter.com" target="_blank">Twitter</a>
            <a href="https://www.instagram.com" target="_blank">Instagram</a>
        </div>
        <div class="footer_third">
            <h1>Site</h1>
            <a href="{% url 'pages:home-view' %}" target="_blank">Home</a>
            <a href="{% url 'pages:about-view' %}" target="_blank">Sobre</a>
            <a href="{% url 'pages:contact-view' %}" target="_blank">Contactos</a>
        </div>
    </div>

</footer>
