{% extends "bases/base.html" %}
{% load static %}
{% block title %}
<title>Loja</title>
{% endblock title %}
{% block head %}
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta http-equiv="cleartype" content="on">
<style>
 html,
 body,
 canvas {
     margin: 0 !important;
     padding: 0 !important;
     overflow: hidden !important;
 }
</style>
{% endblock head %}
{% block content %}
<div class="container">
    <div class="row pt-4">
        <div id="game-area" class="text-center">

        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/engine/dist/bundle.js' %}"> </script>
{% endblock content %}
