<!DOCTYPE HTML>
{% load static %}
<html lang="en">

    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Valter Pereira</title>
        <link rel="stylesheet" href="{% static 'pages/about.css' %}">
    </head>

    <body>
        {% include 'bases/navbar.html' %}
        <main>
            <div class="main__content">
                <p class="content__title">Sobre você e nós</p>
                <div class="divider div-transparent"></div>
                <div class="content1">
                    <p>Você tem um novo problema na casa, criou-se uma fuga, o
                    quadro elétrico está a falhar, ou quer remodelar a cozinha? Contacte-nos, e deixe o esforço conosco.</p>
                    <p>Uma nova empresa liderada por um profissional com +25 anos de experiência que depois de trabalhar para empregadores criou esta empresa para competir com os maus tempos e preços inflacionados dos "faz-tudo" desta ilha.</p>
                    <p>Atuamos em todas as freguesias da Madeira e estamos a um e-mail 
                    de distância.</p>
                </div>
                <div class="divider div-transparent"></div>
            </div>
        </main>

        {% include 'bases/footer.html' %}
    </body>
</html>
