@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans JP', arial;
}

body {
    display: flex;
    flex-direction: column;
}

.map_container {
    width: 100%;
    height: 700px;
    margin: auto;
    margin-bottom: 2em;
}

.map_container iframe{
    padding: 60px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 100%;
    box-shadow: 0 0 20px rgba(0,0,0, 0.35);
    text-align: center;
}

.content__container {
    width: 100%;
    height: auto;
    display: block;
    padding: 3% 15%;
}

.content__container .div1 {
    width: 70%;
    margin: 0 auto;
    text-align: left;
    display: block;
}
.content__container .div1 form input {
    display: block;
}

.content__title {
    padding: 2em 0;
    margin: 0 auto;

    text-align: center;

    font-size: 2em;
    font-family: "Playfair Display", sans-serif;

}

.divider
{
	position: relative;
	margin-top: 10px;
	height: 1px;
        padding-bottom: 10px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}


@media(max-width: 600px) {
    .content__container {
        padding:0;
        margin: 2%;
    }
}
